@model Trip
@{
    ViewBag.Title = "Add Info for ";
}


<h2>Add Info for </h2>

<form asp-action="AddTrip">
    <div asp-validation-summary="All" class="text-danger">
        <div class="form-group">
            <label asp-for="AccommodationPhone">Phone</label>
            <input asp-for="AccommodationPhone" class="form-control" />
        </div>
        <div class="form-group">
            <label asp-for="AccommodationEmail">Email</label>
            <input asp-for="AccommodationEmail" class="form-control"/>
        </div>
    </div>

    <div class="form-inline">
        <button asp-action="Add" asp-route-id="Page3" class="btn btn-dark">Next</button>
        <button asp-controller="Home" asp-action="Index" 
           class="btn btn-outline-dark">Clear</button>
        
    </div>

</form>