@{
    ViewBag.Title = "Contact Me";
}

<table style="width:100%">
    <tr>
        <td>Phone number</td>
        <td>@ViewBag.Phone</td>
    </tr>
    <tr>
        <td>Email</td>
        <td>@ViewBag.Email</td>
    </tr>
    <tr>
        <td>Social Media</td>
        <td>@ViewBag.Social</td>
    </tr>
</table>
