@model Game

@{
    ViewBag.Title = "Blackjack";
}

<h5 my-dealer="@Model.Dealer"></h5>
<div class="hand mb-4">
    @for (int i = 0; i < Model.Dealer.Hand.Count; i++)
    {
        if (i == 0 && Model.Dealer.Hand.HideHoleCard)
        {
            // hide hold card (first card)
            <img src="~/images/back.svg" />
        }
        else
        {
            Card card = Model.Dealer.Hand.Cards[i];
            <img src="~/images/@(card.Name).svg" />
        }
    }
</div>

<h5 my-player=@Model.Player></h5>
<div class="hand mb-4">
    @foreach (Card card in Model.Player.Hand.Cards)
    {
        <img src="~/images/@(card.Name).svg" />
    }
</div>

<div class="row mb-2">
    <div class="col-2 offset-3">
        <my-blackjack-action action="Deal" is-disabled="@(!Model.NeedsDeal)" />

    </div>

    <div class="col-2">
        <my-blackjack-action action="Hit" is-disabled="Model.NeedsDeal" />
    </div>

    <div class="col-2">
         <my-blackjack-action action="Stand" is-disabled="Model.NeedsDeal" />
    </div>

</div>
